html,body{
    margin:100px;
   padding: center;
}
    .login{
        width: 382px;
    
        margin: auto;
        margin: 20px;
        padding: 15px;
        background:lightblue;
        border-radius: 15px ;
}
h2{

        text-align: center;
        color: #277582;
        padding: 2px;
    
    
    
}
#user{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
label{
    color: darkgreen;
    font-size: 17px;
}


#password{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;

}
#log{
    width: 300px;
    height: 30px;
    border: 100px;
margin:10px;
    color: blue;
}
.login .a{
    text-align: center;
}
